@{
    ViewData["Title"] = "CreateProject";
}
@model CreateProject

<secion>
<h1>CreateProject</h1>

    @if (TempData["error"] != null)
    {
        <p>@Html.Encode(TempData["error"])</p>
    }

    <form method="post" asp-controller="Project" asp-action="CreateNewProject">
        <label>
            <p class="hello">Project Name</p>
            <input name="Name" type="text" />
        </label>

        <label>
            <p>Project Category</p>
            <select name="CategoryId">
                <option value="0">...</option>
                @foreach (var item in Model.Category)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>

        <label>
            <p>Project Type</p>
            <select name="TypeId">
                <option value="0">...</option>
                @foreach (var item in Model.Type)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>

        <label>
            <p>Project Status</p>
            <select name="StatusId">
                <option value="0">...</option>
                @foreach (var item in Model.Status)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>
         @*needs to be textarea*@
        <label>
            <p>Description</p>
            <input name="Description" type="text" />
        </label>

        <label>
            <p>Material List</p>
            @*<input name="Material" type="text" placeholder="Rune" />*@
            <ul class="materials-list">
                @*@foreach (var item in list)
                {
                <li>
                <p>@item.Name</p>
                <p>@item.Amount</p>
                </li>
                }*@
            </ul>
        </label>

        @*<label>
        <p>Start date</p>
        <input type="date" />
        </label>*@

        @*<label>
        <p>End date</p>
        <input type="date" />
        </label>*@

        @*<label>
        <p>Before Image</p>
        <input type="file" />
        </label>*@

        @*<label>
        <p>After Image</p>
        <input type="file" />
        </label>*@

        @*<label>
        <p>Sketch</p>
        <input type="file" />
        </label>*@

        @*<label>
        <p>Pattern Link</p>
        <input />
        </label>*@

        <button type="submit" value="CreateNewProject">Create Project</button>
    </form>
</secion>

<a asp-controller="Home" asp-action="Index">Go Back</a>

@section Scripts {
    <script src="~/js/createProject.js" asp-append-version="true"></script>
}

