@{
    ViewData["Title"] = "CreateProject";
}
@model CreateProject

<secion class="create-project-page">
    <section class="create-project-wrapper">
        <section>

            <h1>CreateProject</h1>

            @if (TempData["error"] != null)
            {
                <div class="message-error">
                    <p>@Html.Encode(TempData["error"])</p>
                </div>
            }

            <form class="create-project-form" method="post" asp-controller="Project" asp-action="CreateNewProject" enctype="multipart/form-data">
                <label>
                    <h4>Project Name</h4>
                    <input name="Project.Name" type="text" />
                </label>

                <label>
                    <h4>Project Category</h4>
                    <select name="Project.CategoryId">
                        <option value="0">Choose project category</option>
                        @foreach (var item in Model.Category)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </label>

                <label>
                    <h4>Project Type</h4>
                    <select name="Project.TypeId">
                        <option value="0">Choose project type</option>
                        @foreach (var item in Model.Type)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </label>

                <label>
                    <h4>Project Status</h4>
                    <select name="Project.StatusId">
                        <option value="0">Choose project status</option>
                        @foreach (var item in Model.Status)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </label>

                <label>
                    <h4>Description</h4>
                    <textarea name="Project.Description" rows="4" cols="50"></textarea>
                </label>

                <label>
                    <h4>Material List</h4>
                    <ul class="materials-list">
                        <li id="list-0">
                            <input type="text" name="Material[0].Name" class="material-name" />
                            <input type="text" name="Material[0].Amount" class="material-amount" />
                            <input type="checkbox" name="Material[0].Acquired" class="material-checkbox" />
                            <div id="0" class="delete-button-container default-list-item-button">
                                <p id="0">Delete</p>
                            </div>
                        </li>
                    </ul>
                    <div class="add-material-button">Add New Material</div>
                </label>

                <label>
                    <h4>Start date</h4>
                    <input type="date" name="Project.StartDate" />
                </label>

                <label>
                    <h4>End date</h4>
                    <input type="date" name="Project.EndDate" />
                </label>

                <label class="before-image-container">
                    <h4>Before Image</h4>
                    <img src="" hidden class="before-image-preview" />
                    <input id="BeforeImageFile" type="file" name="BeforeImageFile" accept=".jpg, .jpeg, .png" />
                </label>

                <label class="after-image-container">
                    <h4>After Image</h4>
                    <img src="" hidden class="after-image-preview" />
                    <input id="AfterImageFile" type="file" name="AfterImageFile" accept=".jpg, .jpeg, .png" />
                </label>

                <label class="sketch-image-container">
                    <h4>Sketch</h4>
                    <img src="" hidden class="sketch-image-preview" />
                    <input id="SketchImageFile" type="file" name="SketchImageFile" accept=".jpg, .jpeg, .png" />
                </label>

                <label class="pattern-container">
                    <h4>Pattern Link</h4>
                    <input id="PatternFile" type="file" name="PatternFile" accept="application/pdf" />
                </label>

                <div>
                    <button class="create-project-button" type="submit" value="CreateNewProject">Create Project</button>
                </div>
            </form>
        </section>

        <a class="go-back-button" asp-controller="Home" asp-action="Index">
            <div>
                <p>Cancel</p>
            </div>
        </a>

    </section>
</secion>


@section Scripts {
    <script src="~/js/createProject.js" asp-append-version="true"></script>
    <script src="~/js/previewImages.js" asp-append-version="true"></script>
}

