@{
    ViewData["Title"] = "UpdateProject";
}
@model EditProject;

<h1>UpdateProject</h1>

<secion>
    <form method="post" asp-controller="Project" asp-action="UpdateProjectInfo">
        <label>
            <p>Name</p>
            <input value="@Model.Project.Name" />
        </label>

        <label>
            <p>Project Category</p>
            <select name="CategoryId">
                <option value="0">...</option>
                @foreach (var item in Model.Category)
                {
                    if (item.Id == Model.Project.CategoryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }

                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>

        <label>
            <p>Project Type</p>
            <select name="TypeId">
                <option value="0">...</option>
                @foreach (var item in Model.Type)
                {
                    if (item.Id == Model.Project.CategoryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }

                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>

        <label>
            <p>Project Status</p>
            <select name="StatusId">
                <option value="0">...</option>
                @foreach (var item in Model.Status)
                {
                    if (item.Id == Model.Project.CategoryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }

                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </label>

        @*<label>
        <p>Description</p>
        <input name="Description" type="text" value="@Model.Project.Description" />
        </label>*@

        <label>
            <p>Start date</p>
            <input type="date" value="@(Model.Project.StartDate.HasValue ? @Model.Project.StartDate.Value.ToString("yyyy-MM-dd") : "" )" />            
        </label>

        <label>
            <p>End date</p>
            <input type="date" value="@(Model.Project.EndDate.HasValue ? @Model.Project.EndDate.Value.ToString("yyyy-MM-dd") : "" )" />
        </label>

        <label>
            <p>Before Image</p>
            <input type="file" value="@Model.Project.BeforeImage"/>
        </label>

        <label>
            <p>After Image</p>
            <input type="file" value="@Model.Project.AfterImage"/>
        </label>

        <label>
            <p>Sketch</p>
            <input type="file" value="@Model.Project.Sketch"/>
        </label>

        <label>
            <p>Pattern Link</p>
            <input value="@Model.Project.PatternLink"/>
        </label>

        <button type="submit">Save Changes</button>
    </form>
</secion>