@*@using PassDatainMVC.Models*@
@*@model Project_Manager.Models.Category*@
@model List<Project>

@{
    ViewData["Title"] = "Home Page";
}

<section class="project-list-container">
    <h1>Your Projects</h1>

    @if (TempData["success"] != null)
    {
        <div class="message-success">
            <p>@Html.Encode(TempData["success"])</p>
        </div>
    }
    else if (TempData["error"] != null)
    {
        <div class="message-error">
            <p>@Html.Encode(TempData["error"])</p>
        </div>
    }    

    @if (Model.Count() == 0)
    {
        <ul class="project-cards-container">
            <li class="project-card-wrapper">
                <a class="create-new-project-button" asp-controller="Project" asp-action="CreateProject">
                    <div class="project-card">
                        <div class="add-new-project-card">
                            <h3>Create New Project</h3>
                            <img src="~/lib/icons/plus.svg" />
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    }
    else
    {
        <ul class="project-cards-container">
            @foreach (var item in Model)
            {
                <li class="project-card-wrapper">
                    <a asp-controller="Project" asp-action="index" asp-route-id="@item.Id">
                        <div>
                            <div>                                
                                <img src="~/lib/icons/noImage.svg" />
                            </div>
                            <div class="project-card">
                                <h3>@item.Name</h3>
                                <p>@item.Status.Name</p>
                                <p>@item.Type.Name</p>
                                <p>@item.Category.Name</p>
                            </div>
                        </div>
                    </a>
                </li>
            }
            <li class="project-card-wrapper">
                <a class="create-new-project-button" asp-controller="Project" asp-action="CreateProject">
                    <div class="project-card">
                        <div class="add-new-project-card">
                            <h3>Create New Project</h3>
                             <img src="~/lib/icons/plus.svg" />
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    }
</section>
