@*@using PassDatainMVC.Models*@
@*@model Project_Manager.Models.Category*@
@model List<Project>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (TempData["success"] != null)
    {
        <p>@Html.Encode(TempData["success"])</p>
    }

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Project" asp-action="index" asp-route-id="@item.Id">
                    <div class="project-card">
                        <p>@item.Name</p>
                        <p>@item.Status.Name</p>
                        <p>@item.Type.Name</p>
                        <p>@item.Category.Name</p>
                    </div>
                </a>
            </li>
        }
    </ul>    
</div>
